#video {
    height: 200;
    width: 200;
    text-align: center;
}

body {
    text-align: center
}

.movie_head {
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    width: 100%;
 display: inline-block;
    margin-bottom: 15px;
}